<h2 class="text-success mt40">Simplify your links</h2>
<div class="row mt15">
  <div class="col-md-8">
    <%= render partial: 'templates/links/form' %>
  </div>
</div>

<table class="table table-hover mt60">
  <thead>
    <tr>
      <th>ORIGINAL URL</th>
      <th>CREATED</th>
      <th>SHORT URL</th>
      <th>VISITS</th>
      <th></th>
    </tr>
  </thead>
  <tbody>
    <tr ng-hide="links.length">
      <td colspan="5" class="text-center"><i ng-bind="emptyTxt"></i></td>
    </tr>
    <tr ng-repeat="link in links">
      <td class="ellipsis"><a target="_blank" href="{{link.original_url | url}}">{{link.original_url}}</a></td>
      <td am-time-ago="link.created_at"></td>
      <td class="ellipsis"><a target="_blank" href="<%= base_url %>/{{link.short_url_code}}"><%= host %>/{{link.short_url_code}}</a></td>
      <td ng-bind="link.visits"></td>
      <td><a ng-href="/#!/{{link.id}}"><i class="fa fa-list"></i></a></td>
    </tr>
  </tbody>
</table>
<%= render partial: 'commons/pagination' %>

<%= render partial: 'templates/modals/link' %>
